# =========================
# Python
# =========================
venv/
.venv/
__pycache__/
*.py[cod]

# =========================
# Local databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Large/raw datasets
# =========================
data/*.csv

# =========================
# Power BI temporary files
# =========================
*.pbi/
*.tmp

# =========================
# Operating system
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE settings
# =========================
.vscode/
.idea/